github-copilot/
.DS_Store
Thunar/accels.scm
.gitignore
autostart/brave-browser.desktop
cherrytree/config.cfg
BraveSoftware/
Code/
dconf/
gtk-3.0/
Mousepad/
nautilus/
powershell/
pulse/
qt6ct/
xfce4/
zsh/
user-dirs.dirs
user-dirs.locale
qterminal.org/
ibus/bus/c6d12194c6f94dafbe95f6ce431b5386-unix-0
